params {
    query = "$PWD/blast/input.fasta"
    dbDir = "$PWD/blast/DB/"
    dbName = "blastDB"
    threads = 2
    outdir = "out_dir"
    outFileName = "input.blastout"
    options = "-evalue 1e-3"
    outfmt = "'6 qseqid sseqid pident length mismatch gapopen qstart qend sstart send evalue bitscore qlen slen frames salltitles qcovs'"
    app = "blastn"
    help = ""
}

timeline {
    enabled = true
    overwrite = true
    file = "$params.outdir/timeline.html"
}

report {
    enabled = true
    overwrite = true
    file = "$params.outdir/report.html"
}

profiles {
    docker { docker.enabled = true }
}

test { includeConfig './configs/test.config' }